<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create Employees</a>
        <a href="/setting">Setting</a>
    </div>
    <div class="table-container">
      <!-- <%= JSON.stringify(listEmployees) %> -->
      <h1 class="title">Employees Table</h1>
      <table id="employees">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
        <% listEmployees.forEach(function(employee){ %>
          <tr>
            <td>
              <%= employee.employee_id %>
            </td>
            <td>
              <%= employee.last_name%> <%= employee.first_name %>
            </td>
            <td>
              <%= employee.email %>
            </td>
            <td>
              <a href="/update/<%= employee.employee_id %>">Edit</a>
              <form action="/delete-user/<%= employee.employee_id %>" method="post">
                <button>Delete</button>
              </form>
            </td>
          </tr>
        <% }); %>
      </table>
    </div>
</body>

</html>